[submodule ".flutter_sdk"]
	path = .flutter_sdk
	url = https://github.com/flutter/flutter.git
	
[submodule ".depot_tools"]
	path = .depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
