pkgbase = veshell
	pkgdesc = An innovative Not-Desktop environment for Linux built with Flutter and Rust
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/free-explorers/veshell
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	makedepends = git
	makedepends = unzip
	makedepends = zstd
	makedepends = xz
	makedepends = gtk3
	makedepends = libpulse
	makedepends = libinput
	makedepends = seatd
	makedepends = libgbm
	makedepends = mesa
	makedepends = openssl
	makedepends = pipewire
	makedepends = gstreamer
	makedepends = gst-plugins-base-libs
	makedepends = libxkbcommon
	makedepends = libdisplay-info
	makedepends = wayland
	makedepends = systemd-libs
	makedepends = vulkan-icd-loader
	depends = fontconfig
	depends = ttf-roboto
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = libglvnd
	depends = mesa
	depends = libgbm
	depends = libinput
	depends = seatd
	depends = systemd-libs
	depends = libxkbcommon
	depends = libdisplay-info
	depends = pipewire
	depends = libpulse
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gst-plugins-good
	depends = dbus
	depends = upower
	depends = polkit
	depends = xorg-xwayland
	depends = xdg-desktop-portal
	depends = xdg-utils
	optdepends = networkmanager: network control panel
	optdepends = bluez: Bluetooth control panel
	optdepends = rtkit: real-time audio scheduling
	optdepends = xdg-desktop-portal-gtk: GTK portal fallback backend
	provides = wayland-compositor
	conflicts = veshell-git
	noextract = flutter_linux_3.47.2-stable.tar.xz
	noextract = flutter_patched_sdk.zip
	noextract = flutter_patched_sdk_product.zip
	noextract = linux-x64_artifacts.zip
	noextract = linux-x64-debug_flutter-gtk.zip
	noextract = linux-x64-profile_flutter-gtk.zip
	noextract = linux-x64-release_flutter-gtk.zip
	noextract = linux-engine-sdk-release-x86_64-a804b261645ef8c13eb3d5c44a5c2fb0340c5539.tar.gz
	noextract = veshell-cargo-vendor-0.1.0.tar.zst
	noextract = veshell-pubcache-0.1.0.tar.zst
	options = !lto
	source = veshell::git+https://github.com/free-explorers/veshell.git#commit=f7180fe48c8ba75c08d3ae7c38e6b7bc27ea85fe
	source = build-veshell.sh
	source = flutter_linux_3.47.2-stable.tar.xz::https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_3.47.2-stable.tar.xz
	source = flutter_patched_sdk.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/common/flutter_patched_sdk.zip
	source = flutter_patched_sdk_product.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/common/flutter_patched_sdk_product.zip
	source = linux-x64_artifacts.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/linux-x64/artifacts.zip
	source = linux-x64-debug_flutter-gtk.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/linux-x64-debug/linux-x64-flutter-gtk.zip
	source = linux-x64-profile_flutter-gtk.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/linux-x64-profile/linux-x64-flutter-gtk.zip
	source = linux-x64-release_flutter-gtk.zip::https://storage.googleapis.com/flutter_infra_release/flutter/a804b261645ef8c13eb3d5c44a5c2fb0340c5539/linux-x64-release/linux-x64-flutter-gtk.zip
	source = linux-engine-sdk-release-x86_64-a804b261645ef8c13eb3d5c44a5c2fb0340c5539.tar.gz::https://github.com/meta-flutter/flutter-engine/releases/download/linux-engine-sdk-release-x86_64-a804b261645ef8c13eb3d5c44a5c2fb0340c5539/linux-engine-sdk-release-x86_64-a804b261645ef8c13eb3d5c44a5c2fb0340c5539.tar.gz
	source = veshell-cargo-vendor-0.1.0.tar.zst::https://github.com/free-explorers/veshell/releases/download/packaging-inputs-v0.1.0/veshell-cargo-vendor-0.1.0.tar.zst
	source = veshell-pubcache-0.1.0.tar.zst::https://github.com/free-explorers/veshell/releases/download/packaging-inputs-v0.1.0/veshell-pubcache-0.1.0.tar.zst
	sha256sums = SKIP
	sha256sums = 7459f22ae3e1440227dc87f9d20abbbbe2599b7b6d434406ef3d9c618805f0b0
	sha256sums = 447878859d01ca9bfdb99a85f245af07ed8a15fedcd9d189c4749e8e92d1f185
	sha256sums = 5f7d44ecaa2f3d219b9fdf2a1c3977e83545f6f8797fad604f564c1b4154ec8d
	sha256sums = 902bc3b27a1bd3f13b756af2660891dd996eb33ab9bc3e4b89c0c9cfdf49e2aa
	sha256sums = 625c7f98c62b9d495638bc71774bf94ad8cae77b070b5f34797ea83b396ebc1c
	sha256sums = e324b676106db415bec41d211caeb7a5137d061704f7af83264f382b4e2ff354
	sha256sums = 0a507e7c6f49c8905efc809808e1a2ac21bcf2c732b82c10e74f8f1e6d1828ea
	sha256sums = 3b357f3df3549c69535d92e8e300a66e1057876dc8fed45a8aae7cf7681b7ec4
	sha256sums = 764e05ba612aaf943523c76a87dd89952f44984a3ec1b48c03aa8b227dafb56c
	sha256sums = a99abcb0d71d55620df66fe6a81b4543273ca6143311d6c145a204d2241af21f
	sha256sums = 90b0a95878c6735221301b38f363b8e243c679da11aa439286a302ee2c85e264

pkgname = veshell
